/* Title Box */
.box{
    position: absolute;
    top: 30%;
    left: 14%;
    font-size: 25px;
}

/* Hobby List Box */
.list{
    width: 300px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 57%;
    background-color: white;
    border: 2px solid #2c83f2;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

/* Remove default ul space */
.list ul{
    padding: 0;
    margin: 0;
}

/* List Items */
li{
    background-color: #f0f2f5;
    border: 2px solid #2c83f2;
    padding: 10px;
    margin: 6px 0;
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 6px;
    transition: 0.3s;
}

/* Hover Effect */
li:hover{
    background-color: #2c83f2;
    color: white;
}

li:hover i{
    color: white;
}

/* Icon Color */
li i{
    color: #2c83f2;
}


